.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.splash-animation-container {
  height: 50vh;
}

.splash-title-container {
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Fira Code", "JetBrains Mono", "SF Mono", Consolas, monospace;
}
.splash-title {
  font-family: "Fira Code", "JetBrains Mono", "SF Mono", Consolas, monospace;
  font-weight: 600;
  padding: 0 20px;
}
